body{
    margin: 0;
    font-family: "Cinzel Decorative";
}

.main-div {
    color:black;
    margin-left: 20px;
}
.custom-title {
    font-size: 60px;
}

.description{
    font-weight: bold;
    color: gray;
    margin-top: 0px;
}

.navbar{
    background-color: lightblue;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.navbar-element{
    margin-left: 20px;
    margin-right: 10px;
}

.container {
    display: flex;
    flex-direction: row;
    background-color: gray;
    justify-content: center;
    align-items: center;
}

.contents{
    display: flex;
    flex-direction: column;
    padding: 10px; /*distancia hacia adentro*/
    margin: 20px; /*distancia desde afuera*/
    border-radius: 15px;
    background-color: lightblue;
}

.long-desc{
    margin-left: 10px;
}

.descriptive-text{
    font-family: Arial, Helvetica, sans-serif;
}

.row-image-desc{
    display: flex;
    flex-direction: row;
}

.picture{
    height: 150px;
    border-radius: 10px;
}

.price {
    color: brown;
    font-size: 30px;
    align-self: flex-end;
}