body{
    margin: 0;
    font-family: "Cinzel Decorative";
    background-color: #fafafa;
}

.main-div {
    color:black;
    margin-left: 20px;
}
.custom-title {
    font-size: 60px;
}

.description{
    font-weight: bold;
    color: gray;
    margin-top: 0px;
}

.navbar{
    background-color: #25a59a;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    box-shadow: 0px 10px 5px grey; /*creo una sombra para la caja, el orden es alto - ancho - blur - color*/
}

.nav-detail{
    background-color: #00756c;
    height: 20px;
}

.navbar-element{
    margin-left: 20px;
    margin-right: 10px;
}


.contents{
    display: flex;
    flex-direction: column;
    padding: 10px; /*distancia desde el div hacia el content*/
    margin: 20px; /*distancia desde afuera hacia el div*/
    border-radius: 15px;
    background-color: #e0e0e0;
    box-shadow: 10px 10px 5px grey;
}

.long-desc{
    margin-left: 10px;
}

.descriptive-text{
    font-family: Raleway;
}

.row-image-desc{
    display: flex;
    flex-direction: row;
}

.picture{
    height: 150px;
    border-radius: 10px;
}

.price {
    color: brown;
    font-size: 30px;
    align-self: flex-end;
}